{% extends 'layouts/giza.html' %}

{% block body %}
    <div style="max-width: 300px;">
        <div class="c-card">
            <div class="c-card__header">Card header</div>
            <img class="c-card__img" src="//via.placeholder.com/350x150">
            <div class="c-card__body">Card body</div>
            <div class="c-card__body">
                <div class="c-card__title">Card title</div>
                <div class="c-card__text">Card text</div>
            </div>
        </div>
    </div>
{% endblock %}
