{% extends 'layouts/giza.html' %}

{% block body %}
    <div class="o-container">
        <div class="c-demo">Container</div>
    </div>
    <div class="o-container o-container--centered">
        <div class="c-demo">Centered container</div>
    </div>
    <div class="o-container o-container--fluid">
        <div class="c-demo">Fluid container</div>
    </div>
    <div class="o-container o-container--centered o-container--collapse">
        <div class="c-demo">Collapsed container</div>
    </div>
    <div class="o-container o-container--centered o-container--thin">
        <div class="c-demo">Thin container</div>
    </div>
{% endblock %}
