{% extends 'layouts/giza.html' %}

{% block body %}
    <form>
        <div class="c-form-group">
            <label class="c-form-label" for="exampleInputEmail1">Email address</label>
            <input type="email" class="c-form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="c-form-group">
            <label class="c-form-label" for="exampleInputPassword1">Password</label>
            <input type="password" class="c-form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="c-form-group c-form-check">
            <input type="checkbox" class="c-form-check-input" id="exampleCheck1">
            <label class="c-form-check-label" for="exampleCheck1">Checkbox</label>
        </div>
        <button type="submit" class="c-button">Submit</button>
    </form>
{% endblock %}
