{% extends 'layouts/giza.html' %}

{% block body %}
    <div style="max-width: 500px;">
        <div class="c-list-group">
            <a class="c-list-group__item c-list-group__item--action" href="button.html">Button</a>
            <a class="c-list-group__item c-list-group__item--action" href="card.html">Card</a>
            <a class="c-list-group__item c-list-group__item--action" href="container.html">Container</a>
            <a class="c-list-group__item c-list-group__item--action" href="flex-grid.html">Flex grid</a>
            <a class="c-list-group__item c-list-group__item--action" href="forms.html">Forms</a>
            <a class="c-list-group__item c-list-group__item--action" href="hamburger.html">Hamburger</a>
            <a class="c-list-group__item c-list-group__item--action" href="headings.html">Headings</a>
            <a class="c-list-group__item c-list-group__item--action" href="list-group.html">List group</a>
            <a class="c-list-group__item c-list-group__item--action" href="nav.html">Nav</a>
            <a class="c-list-group__item c-list-group__item--action" href="site.html">Site</a>
        </div>
    </div>
{% endblock %}
