{% extends 'layouts/giza.html' %}

{% block body %}
    <ul class="c-list-group">
        <li class="c-list-group__item">Cras justo odio</li>
        <li class="c-list-group__item">Dapibus ac facilisis in</li>
        <li class="c-list-group__item">Morbi leo risus</li>
        <li class="c-list-group__item">Porta ac consectetur ac</li>
        <li class="c-list-group__item">Vestibulum at eros</li>
    </ul>

    <h3>Links</h3>

    <div class="c-list-group">
        <a class="c-list-group__item c-list-group__item--action is-active" href="#">Cras justo odio</a>
        <a class="c-list-group__item c-list-group__item--action" href="#">Dapibus ac facilisis in</a>
        <a class="c-list-group__item c-list-group__item--action" href="#">Morbi leo risus</a>
        <a class="c-list-group__item c-list-group__item--action" href="#">Porta ac consectetur ac</a>
        <a class="c-list-group__item c-list-group__item--action" href="#">Vestibulum at eros</a>
    </div>

    <h3>Buttons</h3>

    <div class="c-list-group">
        <button class="c-list-group__item c-list-group__item--action is-active">Cras justo odio</button>
        <button class="c-list-group__item c-list-group__item--action">Dapibus ac facilisis in</button>
        <button class="c-list-group__item c-list-group__item--action">Morbi leo risus</button>
        <button class="c-list-group__item c-list-group__item--action">Porta ac consectetur ac</button>
        <button class="c-list-group__item c-list-group__item--action">Vestibulum at eros</button>
    </div>
{% endblock %}
