{% extends 'layouts/giza.html' %}

{% block body %}
    <h2>Nav</h2>

    <ul class="c-nav">
        <li class="c-nav__item">
            <a class="c-nav__link is-active" href="#">Active</a>
        </li>
        <li class="c-nav__item">
            <a class="c-nav__link" href="#">Link</a>
        </li>
        <li class="c-nav__item">
            <a class="c-nav__link" href="#">Link</a>
        </li>
        <li class="c-nav__item">
            <a class="c-nav__link is-disabled" href="#">Disabled</a>
        </li>
    </ul>

    <h3>Vertical</h3>

    <ul class="c-nav c-nav--vertical">
        <li class="c-nav__item">
            <a class="c-nav__link is-active" href="#">Active</a>
        </li>
        <li class="c-nav__item">
            <a class="c-nav__link" href="#">Link</a>
        </li>
        <li class="c-nav__item">
            <a class="c-nav__link" href="#">Link</a>
        </li>
        <li class="c-nav__item">
            <a class="c-nav__link is-disabled" href="#">Disabled</a>
        </li>
    </ul>

    <h3>Nested</h3>

    <ul class="c-nav c-nav--vertical">
        <li class="c-nav__item">
            <a class="c-nav__link is-active" href="#">Active</a>
            <ul class="c-nav c-nav--vertical c-nav--nested">
                <li class="c-nav__item">
                    <a class="c-nav__link" href="#">Link</a>
                </li>
                <li class="c-nav__item">
                    <a class="c-nav__link" href="#">Link</a>
                </li>
                <li class="c-nav__item">
                    <a class="c-nav__link" href="#">Link</a>
                </li>
                <li class="c-nav__item">
                    <a class="c-nav__link" href="#">Link</a>
                </li>
            </ul>
        </li>
        <li class="c-nav__item">
            <a class="c-nav__link" href="#">Link</a>
        </li>
        <li class="c-nav__item">
            <a class="c-nav__link" href="#">Link</a>
        </li>
        <li class="c-nav__item">
            <a class="c-nav__link is-disabled" href="#">Disabled</a>
        </li>
    </ul>
{% endblock %}
