<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Giza</title>
        <link rel="stylesheet" href="css/giza.css">
        <script>
            if (document.documentElement) {
                document
                    .documentElement
                    .classList
                    .add('js');
            }
        </script>
        <style type="text/css">
            body {
                padding: 2rem;
            }
            .c-demo {
                margin: 1rem 0;
                padding: 1rem;
                background-color: #ddd;
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="/js/giza.js"></script>
    </body>
</html>
