<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Giza</title>
        <link rel="stylesheet" href="/assets/css/app.css">
        <script>
            if (document.documentElement) {
                document
                    .documentElement
                    .classList
                    .add('js');
            }
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="/assets/js/app.js"></script>
    </body>
</html>
